<div class="aa--container aa--flex aa--justify-center">
  <div class="form-wrapper">
    <h1>
      <span class="aa--text-primary">Login</span>
      your account
    </h1>

    <mat-card>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && submit()">

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" />
            <mat-error *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
              Email is required.
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('pattern') && loginForm.get('email')?.touched">
              Enter a valid email.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
              Password is required.
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
              Password must be longer than or equal to 8 characters
            </mat-error>
          </mat-form-field>

          <button mat-flat-button type="submit">Login</button>
          <div style="text-align: center;margin: 5px 0px 5px 0px;">OR</div>
          <button mat-button [routerLink]="['/signup']">Signup</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>