#
# Node Enironment ( development  |  staging  |  production )
#
# NODE_ENV=development

#
# App
#
APP_PORT=3000
APP_HOST=localhost

#
# MongoDB URL
#
MONGO_URL=
#
# Swagger
#
SWAGGER_ENABLED=true
SWAGGER_ROUTE=/swagger
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=1234

#
# JWT Credentials
#
ACCESS_SECRET=
REFRESH_SECRET=
ACCESS_TOKEN_EXPIRE=8h
REFRESH_TOKEN_EXPIRE=16h
CRYPTO_SALT=
